.section-clip {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.contact-clip {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 960px) {
  .sectionClip {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
  }
  .contact-clip {
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
    -moz-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
  }
}

@media screen and (max-width: 600px) {
  .sectionClip {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
  }
  .contact-clip {
    -webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
    -moz-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
  }
}
